.vs/
*~
assimp_log.txt
BaseLib/FLTKU/fluid.exe
BaseLib/Release/
BaseLib/Debug/
Lib/BaseLib.lib
*/*/Release
*/*/Debug
*/Release
*/Debug
Release/*
!Release/*dll
Debug/*
!/Debug/*dll
External/
*.exe
*.swp
*.VC.db
Data/tmp/

